@model PieViewModelIndex




        <h1>@Model.currentCategory</h1>

<div class="row row-cols-1 row-cols-md-3">

        @foreach(var pie in Model.pies)
    {
        <div class="col">
            <div class="card pie-card">
                <img src="@pie.ImageThumbnailUrl" class="card-img-top" alt="@pie.Name">
                <div class="card-body pie-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="pie-link" asp-controller="Pie" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @pie.Price.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }

    </div>
